# Project exclude paths
/.gradle/
# Project exclude paths
/build/
/build/classes/kotlin/iosArm32/main/
/build/classes/kotlin/iosArm64/main/
/build/classes/kotlin/iosX64/main/
/build/classes/kotlin/jvm/main/
/build/classes/kotlin/macosX64/main/
/build/js/packages/engineEmi/kotlin/
/src/commonMain/kotlin/Main.kt
/src/commonMain/resources/testResources/
*.log
/.idea/
