[submodule "engineEmi_GradlePlugin"]
	path = engineEmi_GradlePlugin
	url = https://github.com/emign/engineEmi_GradlePlugin.git
[submodule "engineEmi_Template"]
	path = engineEmi_Template
	url = https://github.com/emign/engineEmi_Template
[submodule "engineEmi_Lektionen"]
	path = engineEmi_Lektionen
	url = https://github.com/emign/engineEmi_Lektionen
[submodule "engineEmi_Samples"]
	path = engineEmi_Samples
	url = https://github.com/emign/engineEmi_Samples
